.contacts {
	@include hide-scrollbar;
	height: 83vh;
}

.contact {

	display: flex;

	padding: map.get($spacers, 4);

	color: $gray-900;

	text-decoration: none;

	@include box-shadow($box-shadow-sm);

	&-img {
		width: 50px;
		height: 50px;
		margin-right: map.get($spacers, 4);

		border-radius: 50%;
	}

	&-body {
		.contact-name {
			margin-bottom: map.get($spacers, 0);

			font-weight: $font-weight-bold;
		}

		.contact-status {
			margin-top: map.get($spacers, 0);

			color: $gray-600;
			font-size: 80%;
		}
	}

	&:hover {
		color: $white;

		background: map.get($theme-colors, "primary");

		& .contact-status {
			color: $white;
		}
	}
}
