.navbar-custom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 72px;
	padding-right: calc(map.get($spacers, 4) * 0.5 + map.get($spacers, 2));
	padding-left: calc(map.get($spacers, 4) * 0.5 + map.get($spacers, 2));

	img {
		filter: invert(1);
	}
}
