.chats {
	@include hide-scrollbar;
	height: calc(100vh - 72px);

	@media (min-width: map.get($grid-breakpoints, "md")) {
		height: calc(100vh - 120px);
	}
}

.chat {
	&:first-of-type {
		margin-top: map.get($spacers, 5);
	}

	display: flex;

	color: $gray-900;

	text-decoration: none;

	@include box-shadow($box-shadow-sm);

	&-body {

		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(6, 1fr);
		padding: map.get($spacers, 4);

		overflow: hidden;

		.chat-name {
			grid-row: 1 / 2;

			grid-column: 1 / 6;
			margin-bottom: map.get($spacers, 0);

			font-weight: $font-weight-bold;
		}

		.chat-msg {
			grid-row: 2 / 3;

			grid-column: 1 / -1;
			margin-top: map.get($spacers, 0);
			overflow: hidden;

			color: $gray-600;
			font-size: 80%;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.chat-time {
			grid-row: 1 / 2;

			grid-column: 6 / -1;

			color: $gray-500;
			font-size: 80%;
			text-align: right;
		}
	}

	&:hover {
		color: $white;

		background: map.get($theme-colors, "primary");

		& .chat-msg,
		& .chat-time {
			color: $white;
		}
	}
}
