.contacts {
	@include hide-scrollbar;
	height: calc(100vh - 168px + 48px);
}

.contact {

	display: flex;

	padding: map.get($spacers, 4);

	color: $gray-900;

	text-decoration: none;

	@include box-shadow($box-shadow-sm);

	&-body {
		.contact-name {
			margin-bottom: map.get($spacers, 0);

			font-weight: $font-weight-bold;
		}

		.contact-status {
			margin-top: map.get($spacers, 0);
			margin-bottom: map.get($spacers, 0);

			color: $gray-600;
			font-size: 80%;
		}
	}

	&:not(div):hover {
		color: $white;

		background: map.get($theme-colors, "primary");

		& .contact-status {
			color: $white;
		}
	}
}
