doctype html
html.h-100(lang='ru')
  include include/head.pug

  body.h-100
    .container-xxl.h-100.overflow-hidden.bg-gray.px-4.py-4
      .row.rounded-4.bg-white.h-100.overflow-hidden.mx-0
        .col-12.col-sm-4.border-end
          .row.bg-primary
            .col-12 
              h1 Test
          .row 
            .col-12.px-4.pt-5 
              h2 Test2
        .col-8.d-none.d-sm-block
          p Right side