-
  var chats = [
    {
      name: "Вениамин Редакторович",
      msg: "o_O",
      avatar: "./images/avatar_4.jpg",
      time: "11:45"
    },
    {
      name: "Джедай Падаванов",
      msg: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      avatar: "./images/avatar_2.jpg",
      time: "10:12"
    },
    {
      name: "Алексей Примадонин",
      msg: "Тесты упали >_<",
      avatar: "./images/avatar_3.jpg",
      time: "08:53"
    },
  ];
- header = "Чаты";
- placeholder = "Поиск по сообщениям";

section.chats.tab-pane.fade(id='nav-chats' role='tabpanel' aria-labelledby='nav-chats-tab')
  include ../leftside-top.pug
  each chat in chats
    a.chat.mb-3(href='#')        
      img.chat-img(src= chat.avatar alt="avatar")
      .chat-body
        p.chat-name= chat.name
        .chat-time= chat.time
        p.chat-msg= chat.msg