.align-self-center.mb-3
  img.greeting-avatar(src="./images/avatar_1.jpg" alt="avatar") 
  p.fw-bold.text-dark.text-center.mb-0 Привет, Кодовёнок 
  p.text-muted.small.text-center Выбери чат, чтобы начать общаться