form.msg-form.p-0.py-md-2.mx-md-5.border-top.mt-md-5(action='')
    input.px-8.px-md-4.py-4.border-0.w-100.outline-0(type='text' placeholder='Напишите сообщение...')
    button.msg-btn.border-0.rounded-circle(type='submit')