nav.navbar-custom.bg-primary.order-2.order-md-1.w-100
  a.logo.me-md-4.me-xxl-6(href='#')
    img(src='images/icons/logo.svg' alt='logo' width='14')
  .nav.d-flex.justify-content-end.justify-content-md-between.flex-grow-1(id='nav-tab' role='tablist')
    .nav-link.link-light.p-0.active(id='nav-contacts-tab' data-bs-toggle='tab' data-bs-target='#nav-contacts' type='button' role='tab' aria-controls='nav-contacts' aria-selected='true')
      img.me-7.me-md-2(src='images/icons/people.svg' alt='people' width='25')
      span.d-none.d-md-inline Контакты
    .nav-link.link-light.p-0(id='nav-chats-tab' data-bs-toggle='tab' data-bs-target='#nav-chats' type='button' role='tab' aria-controls='nav-chats' aria-selected='false')
      img.me-7.me-md-2(src='images/icons/chat.svg' alt='message' width='25')
      span.d-none.d-md-inline Сообщения
    .nav-link.link-light.p-0(id='nav-profile-tab' data-bs-toggle='tab' data-bs-target='#nav-profile' type='button' role='tab' aria-controls='nav-profile' aria-selected='false')
      img.me-7.me-md-2(src='images/icons/person.svg' alt='person' width='25')
      span.d-none.d-md-inline Профиль